page-home {
ion-content {
    background-image: url('../assets/imgs/allsports.jpeg');
    background-size: cover;
    background-position-x: 50%;
    color: #fff;
}
ion-header {
    background-color: transparent;
}
.content-md {
	color: #fff;
}
  .bar-buttons,
  .toolbar-title {
    color: #fff;
  }

}
