page-home {
ion-content {
    background-image: url('../assets/imgs/all-sports.png');
    background-size: initial;
    background-repeat: no-repeat;
    background-position: bottom;
    
    color: #fff;
}
ion-header {
    background-color: transparent;
}
.content-md {
	color: #fff;
	//background-color: #aaa;
}
  .bar-buttons,
  .toolbar-title {
    color: #fff;
  }

}
